.intro2{
    padding-top:300px;
    width:100%;

}

.description{
    position:relative;
    width:100%;
    height:800px;
    z-index: 999;
    margin-left:15%;
    padding:0;
    color:#549BF5;
}
.description p {
    width:90%;
    font-weight:700;
    font-size:3em;
   
}

.shape1{
    position: absolute;
    width: 404px;
    height: 404px;
    top:-50px;
    left: 700px;
    border: 2px solid #FDEF61;
    box-sizing: border-box;
    border-radius: 40px;
    opacity: 0.5;
}

.shape2{
    position: absolute;
    width: 120px;
    height: 300px;
    left: 55px;
    border: 2px solid rgba(97, 201, 201, 0.5);
    box-sizing: border-box;
    border-radius: 40px;
    opacity: 0.5;
}